/*
	|-----------------------------------
	| Global variables
	|-----------------------------------
*/

$primary-color: #ff6601;
$primary-color-dark: #e65c00;
$secondary-color-light: #4d6dff;
$secondary-color: #2543ff;
$secondary-color-dark: #1a2d99;
$tertiary-color: #e7e7e7;
$tertiary-color-dark: #a6a6a6;

// Text colors
$white-text: #ffffff;
$black-text: #000000;

// Background colors
$background-white: #ffffff;
$background-color: #f5f5f5;
$background-color-dark: #e7e7e7;
$background-color-black: #000000;

$light-success: #00c167;
$success: #35dcc6;
$dark-success: #1e8555;

$extra-light-information: #48e2e2;
$light-information: #40b8cb;
$information: #007bff;
$dark-information: #004a8d;

$danger: #dc3545;
$dark-danger: #b30000;
$light-danger: #ff6666;

$light-warning: #ffcc66;
$warning: #ff9900;
$dark-warning: #cc6600;

/*
	|-----------------------------------
	| Links as buttons
	|-----------------------------------
*/
// Connexion button
$connexion-button-color: $white-text;
$connexion-button-background-color: $primary-color;
$connexion-button-border-color: $primary-color-dark;

// Primary button
$primary-button-color: $white-text;
$primary-button-background-color: $secondary-color;
$primary-button-border-color: $secondary-color-dark;

// Cancel button
$cancel-button-color: $white-text;
$cancel-button-background-color: $danger;
$cancel-button-border-color: $dark-danger;

// Success alert warning
$alertSuccess-color: $dark-success;
$alertSuccess-background-color: $success;
$alertSuccess-border-color: $light-success;

// Warning alert warning
$alertWarning-color: $dark-warning;
$alertWarning-background-color: $warning;
$alertWarning-border-color: $light-warning;

// Danger alert warning
$alertDanger-color: $dark-danger;
$alertDanger-background-color: $danger;
$alertDanger-border-color: $light-danger;
