{% extends "base.html.twig" %}

{% block title %}Cleura | Admin Dashboard
{% endblock %}

{% block body %}
	<section id="admin">
		<h1>Admin</h1>
		<div class="dashboard"></div>
	</section>
{% endblock %}
