<footer>
	<div class="footer">
		<div class="footer__logo">
			<a href={{path('app_home')}}>
				<img src="{{ asset('build/images/logo/Cleura-Text-White.9e35f1dc.png') }}" alt="Logo de Cleura"/>
				<img src="{{ asset('build/images/logo/Cleura-Symbol-Open-Source-White.48c67aff.png') }}" alt="Logo de Cleura"/>
				<img src="{{ asset('build/images/logo/Cleura-Symbol-Open-Source-Dot-White.d1d3c250.png') }}" alt="Logo de Cleura"/>
			</a>
		</div>

	</div>

</footer>
