<footer>
	<div class="footer">
		<div class="footer__logo">
			<a href={{path('app_home')}}>
				<img src="{{ asset('build/images/logo/Cleura-Text-White.png') }}" alt="Logo de Cleura"/>
				<img src="{{ asset('build/images/logo/Cleura-Symbol-Open-Source-White.png') }}" alt="Logo de Cleura"/>
				<img src="{{ asset('build/images/logo/Cleura-Symbol-Open-Source-Dot-White.png') }}" alt="Logo de Cleura"/>
			</a>
		</div>

	</div>

</footer>
