*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	color: $black-text;
	background-color: $background-color;
}

a {
	text-decoration: none;
	color: inherit;
}

/*
	|--------------------------------
	| 1. Links & Buttons
	|--------------------------------
*/
.connexion__button {
	@include button__base($connexion-button-color, $connexion-button-background-color, $connexion-button-border-color);
	min-width: 5rem;
	max-width: 12rem;
	display: block;
	text-align: center;
}

.btn-primary {
	@include button__base($primary-button-color, $primary-button-background-color, $primary-button-border-color);
	min-width: 5rem;
	max-width: 12rem;
	display: block;
	text-align: center;
}

.read__button {
	@include button__base($read-button-color, $read-button-background-color, $read-button-border-color);
	min-width: 5rem;
	max-width: 12rem;
	display: block;
	text-align: center;
}

.edit__button {
	@include button__base($edit-button-color, $edit-button-background-color, $edit-button-border-color);
	min-width: 5rem;
	max-width: 12rem;
	display: block;
	text-align: center;
}

.delete__button,
.cancel__button,
.btn-danger {
	@include button__base($cancel-button-color, $cancel-button-background-color, $cancel-button-border-color);
	min-width: 5rem;
	max-width: 12rem;
	display: block;
	text-align: center;
}

.nav__back__button {
	@include button__base($connexion-button-color, $connexion-button-background-color, $connexion-button-border-color);
	margin-bottom: 2rem;
	max-width: 12rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

/*
	|--------------------------------
	| 2. Alerts Banner
	|--------------------------------
*/
.success-warning {
	@include alert__banner($alertSuccess-color, $alertSuccess-background-color, $alertSuccess-border-color);
}

.alert-warning {
	@include alert__banner($alertWarning-color, $alertWarning-background-color, $alertWarning-border-color);
}

.error-warning {
	@include alert__banner($alertDanger-color, $alertDanger-background-color, $alertDanger-border-color);
}

.error__warning__message {
	@include alert__banner($white-text, $alertDanger-background-color, $alertDanger-border-color);
	padding: 1rem;
}
