section#show-post {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: calc(100vh - 160px);
	margin-top: 2rem;
	overflow: hidden;
	.show__post {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		width: 90%;
		height: auto;
		padding: 1rem 1.5rem;
		background-color: $background-white;
		border-radius: 1rem;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		overflow: hidden;
		h1 {
			font-size: 2.5rem;
			font-weight: 600;
			margin-bottom: 2rem;
		}
		h2 {
			font-size: 1.5rem;
			font-weight: 600;
			margin-bottom: 1rem;
		}
		p {
			font-size: 1.2rem;
			font-weight: 400;
			margin-bottom: 1rem;
		}
		.show__post__buttons {
			display: flex;
			flex-direction: row;
			gap: 1rem;
		}
	}
}
