{% extends 'base.html.twig' %}

{% block header_title %}
	<h1>Cleura | Create User</h1>
{% endblock %}

{% block body %}
	<section id="create-user">
		<div class="form">
			{{ form_start(form, {'action' : path('app_user_create')}) }}
			<div id="create-user-from">
				{{ form_widget(form) }}
				<button type="submit" class="btn btn-success pull-right">Ajouter</button>
				<a href={{ path('app_admin')}} class="btn btn-danger">Cancel</a>
				{{ form_end(form) }}
			</div>
		</div>
	</section>
{% endblock %}
