section#forum {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: calc(100vh - 160px);
	.forum {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 90%;
		height: 100%;
		overflow: hidden;
		h1 {
			font-size: 2.5rem;
			font-weight: 700;
			margin: 0;
			margin-bottom: 3rem;
			padding: 0;
		}
		.dashboard {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-evenly;
			gap: 2rem;
			flex-wrap: wrap;
			width: auto;
			height: 100%;
		}
	}
}
