{% extends "base.html.twig" %}

{% block title %}Cleura | Create Forum
{% endblock %}

{% block body %}
	<section id="create-forum">
		<h1>Create Forum</h1>
		<div class="form">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			<input class="btn btn-primary" type="submit" value="Create"/>
			<a href={{path('app_admin')}} class="cancel__button">Cancel</a>
			{{ form_end(form) }}
		</div>

	</section>
{% endblock %}
