{% extends 'base.html.twig' %}

{% block title %}Cleura | Forums List
{% endblock %}

{% block body %}
	<section id="forum">
		<div class="nav__back__button">
			<a href="{{ path('app_home') }}">
				<i class="fas fa-arrow-left"></i>
				Back to home
			</a>
		</div>
		<div class="forum">
			<h1>Forums List</h1>
			<div class="dashboard">
				{% for forum in forums %}
					<div {{ react_component( 'card/Card', { 'title': "#{forum.name}" , 'description' : "Your forum about #{forum.name} questions" , 'path' : " /forum/#{forum.id}" , 'image' : 'build/images/forum-icon.9d24e89e.png' , 'imageAlt' : 'An icon of chat bubbles' } ) }}>
						Loading...
						<i class=" fas fa-cog fa-spin fa-2x"></i>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
