{% extends 'base.html.twig' %}

{% block title %}Cleura | Forum
{% endblock %}

{% block body %}
	<section id="forum">
		<div class="forum">
			<div class="forum__header">
				<h1>Forum</h1>
			</section>
		{% endblock %}
